
/*Element selctor*/
h2{
    background-color:orange;
    color: blue;

}

/**/
*{
    background-color: antiquewhite;
}

/*class selector*/
.text{
    color: gold;
}

/*id selector*/
#text{
    color: red;
}

/*Descendant selector*/
.intro p{
    color: chartreuse;
    font-weight: 900;
    font-size: 32px;
}

div p{
    color: purple;
    font-size: 32px;
}

/*group selector*/

p, a, span{
    color: aqua;
}

/*group selector*/
.action p,
action a, 
action span,
action blog{
    color: cornflowerblue;
    font-weight: 600;
    font-size: 20px;
}

.intro-text{
    color: brown;
    font-size: 40px;

}

#intro-text{
    color: indigo;
    font-size: 40px;

}


/*Child selector*/
.container > h2{
    color: teal;
    font-weight: 900;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

/*to style all the dirct child*/
.container > * {
    color: red;
}